<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHARE-KIT | 공과대학 물품대여 서비스</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <div id="main-logo">
        <h1>SHARE - KIT</h1>
        <span>한국외국어대학교 공과대학 물품대여 서비스</span>
    </div>
    <nav>
        <ul>
            <li><a href="/login">로그인</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>공학의 모든 순간을 함께하다</h2>
    <p>공과대학 학우 여러분들의 더 나은 학습환경을 위해 SHARE-KIT가 함께합니다.</p>
</main>
</body>
</html>